/apps/accounts/__pycache__
*.sqlite3
/apps/__pycache__
*.jpg

# Ignorar migraciones compiladas y cache de Python
__pycache__/
*.pyc

# Ignorar migraciones de Django
apps/*/migrations/*.pyc
apps/*/migrations/__pycache__/

# Archivos específicos de la base de datos local
db.sqlite3
.DS_Store

# Excluir archivos de migración generados automáticamente
apps/accounts/migrations/[0-9]*.py
apps/orders/migrations/[0-9]*.py

# Mantener los archivos __init__.py (esencial para que Python reconozca el directorio)
!apps/accounts/migrations/__init__.py
!apps/orders/migrations/__init__.py